@media screen and (max-width: 1400px){
}

@media screen and (max-width: 1200px){
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    /* Highlights */

    .pic__mockup {
        width: 550px;
    }

    .about_me_gurra {
        max-width: 340px;
    }
    
    .about_me_cookies {
        max-width: 340px;
        margin-top: 15px;
        margin-right: 0;
        align-self: flex-start;
    }
}



/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px)  {
    section, nav, footer{
        padding-inline: 40px;
    }

    #hero {
        height: 50vh;
        margin-top: 40px;
    }

    footer {
        margin-top: 5vh;
    }

    #highlights {
        padding-bottom: 0;
    }

    .highlights__text_link {
        margin-top: 0px;
    }

    .experiences__container__double {
        border: 1px solid salmon;
        display: flex;
        flex-direction: column;
    }
    
    .experiences__container_left, .experiences__container_right {
        width: 100%;
    }

    .experiences__container_left {
        margin-bottom: 40px;
    }

    .section__mockup__container__single {
        margin-bottom: 100px;
    }

    .pic__mockup {
        width: 450px;
    }

    /* About Me */
    .about_me_profilePicture {
        width: 250px;
        height: 250px;
    }
    .about_me__container_right {
        width: 40%;
    }
    .about_me__container_left {
        width: 60%;
    }


    /* specific project pages */

    #project-overview {
        padding: 0 100px;
        min-height: 85dvh;
    }

    .test {
    }

    }


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    section, nav, footer{
        padding-inline: 16px;
    }

    .project__disclaimer {
        margin-bottom: 10px;
    }

    #hero {
        min-height: 60vh;
    }

    .section__pic-container {
        display: none;
    }

    .hero__text_construction_mobile {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .hero__text_construction_mobile p {

    }

    .construction_mobile_avatar {
        max-width: 50px;
        margin-bottom: 10px;
    }

    .section__text {
        
    }

    .pic__mockup {
        width: 90%;
    }

    /* About */
    .about_me__container {
        padding-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .about_me_profilePicture {
        width: 250px;
        height: 250px;
    }
    .about_me__container_right {
        width: 100%;
        margin-bottom: 40px;
    }
    .about_me__container_left {
        width: 100%;
        
    }

    .manifesto__columns{
        flex-direction: column;
        margin-top: 3vh;
    }

    .manifesto__column{
        width: 100%;
    }

    .manifesto__column p {
        max-width: 240px;
        align-self: center;
        margin-top: 10px;
        line-height: 120%;
    }

    .about_me__container_left_images {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_me_cookies {
        align-self: center;
    }

    /* specific project pages */

    

    #project-overview {
        padding-inline: 16px;
    }

    .project__text__description,  .project__text__description_further{
        max-width: 100%;
    }

    .project__tags__container {
        max-width: 100%;
    }




}
