/* GENERAL */

body {
}

nav {
    background-color: 0E0F13;
}

section {
    padding-right: 17%;
    padding-left: 17%;
}

.project__tags__container {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project_tag {
    background-color: #0E0F13;
    border-radius: 6px;
    padding: 5px 10px;
    color: #A296D5;
    font-weight: 400;
    font-size: 1rem;
    width: fit-content;
    margin-right: 10px;
    margin-bottom: 5px;
}

.project__disclaimer {
    font-weight: 200;
    margin-top: 30px;
    justify-self: flex-end;
    max-width: 40%;
    text-align: center;
}

.project__disclaimer_recipeasy {
    max-width: 100%;
}

.project__text__description_further {
   margin-top: 20px;
   font-size: 1.125rem;
   max-width: 1000%;
}

.link {
    color: #F5D2D3;
}

a .pic_mockup_projects:hover {
    transform: scale(1.03);
}

.pic_mockup_projects {
    transition: all .5s ease; 
}

.about-the-project {
    
}

/* STORYAI */

#project-overview {
    background-image: linear-gradient(#232324, #1C1C1D);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85dvh;
    
}

.project__container {
    padding-top: 60px;
    background-color: transparent;
    width: 100%;
}

.pic__mockup:hover {
    transform: scale(1);
}

.project__text__title {
    font-size: 1.875rem;
    margin-bottom: 20px;
}

.project__text__description {
    max-width: 80%;
    font-weight: 300;
    line-height: 120%;
}

.section__mockup__container__single {
    margin: 60px 0;
    width: 100%;
}

.project__centered_video_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.storyAI__demo {
    width: 300px;
    border-radius: 20px;
}

/* DBT */

.dbt {
    color: #D4E5E9;
}

.pro

.project__text__description_further {
    margin-top: 50px;
    width: 100%;
    line-height: 115%;
    font-size: 1.25rem;
}

/* RECIPEASY */

.recipeasy {
    color: #F1E4E4;
}

/* STAYSYNC */

.staysync {
    color: #93A0C4;
}

.award__container {
    background-color: #2A2A2A;
    width: 100%;
    border-radius: 20px;
    min-height: 72px;
    justify-content: center;
    border: 1px solid #93A0C4;
    margin: 36px 20px 0 20px;
    
}

.award_text {
    margin-inline: 20px;
}

.certificate_link{
    color: #93A0C4;
    text-decoration: underline;
}

.process{
    width: 100%;
    margin-top: 40px;
    justify-items: center;

}

.staysync_mscw{
    padding-top: 40px;
    margin-bottom: 40px;
    max-width: 700px;
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.staysync_image_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}

.staysync_lofi{
    max-width: 400px;
    max-width: 40%; 
}

.creating-an-identity{
    margin-top: 50px;
    border-radius: 27px;
    background-color: #2A2A2A;
    padding: 44px;
}

.staysync_logo_creation{
    max-width: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.staysync_color_palette_small{
    max-width: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.staysync_graphic_profile{
    max-width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #FFFFFF;
}

.Development{
    margin-top: 40px;
}

.in_text_heading{
    margin-top: 20px;
    margin-bottom: 0;
}

.Certificate{
 margin-top: 100px;
}

.staysync_certificate{
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-top: 40px;
}
/* PROJECTS */

.highlights__text_changer_projects {
    margin-top: 10px;
}

.projects__text_title {
    
}