/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'League Spartan', sans-serif;
    padding: 0 0px;
    background-color: #0E0F13;
}

.important__exclude {
    display: none;
}

section {
    padding-inline: 122px;
}

html {
    scroll-behavior: smooth;
}

p, h1, h2, h3, h4 {
    color: #FFFFFF;
}

p {
    font-weight: 300;
}

h1 {
    font-size: 5rem;
    font-weight: 500;
}

h2 {
    font-size: 1.875rem;
    font-weight: 400;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}
/* TRANSITIONS */

nav ul li a,
nav ul li a:after,
nav ul li a:before,
nav .logo a,
.pic__mockup,
.highlights__text_link,
.footer__contact_icon {
  transition: all .5s ease; 
}

/* nav-underscore */
.nav-links li {
  position: relative;
}

.nav-links li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background: #FFFFFF;
  transition: all 0.5s;
}

.nav-links:not(footer .nav-links) li:hover:after {
  width: 100%;
}

/* text hover flip */

.highlights__text_changer {
    transition: all 500ms ease-in-out;
  }
  .highlights__text_changer:hover {
  }

  h3 {
    overflow: hidden;
  }
  .mockup__text_old,
  .mockup__text_new {
    display: block;
    overflow: hidden;
    transition: all 500ms linear;
  }
  .mockup__text_old {
    height: auto;
    opacity: 1;
    width: auto;
  }
  .mockup__text_new {
    color: #fff;
    height: 0;
    opacity: 0;
    width: 0;
    color:#ffffff;
  }
  .highlights__text_changer:hover .mockup__text_old {
    height: 0px;
    opacity: 0;
    width: 0px;
  }
  .highlights__text_changer:hover .mockup__text_new {
    height: auto;
    opacity: 1;
    width: auto;
  }

  /* footer contact icnos */

  .footer__contact_icon:hover {
    transform: scale(1.2);
}

/* hamburger-underscore */

/*
.menu-links li {
    position: relative;
  }
  
  .menu-links li:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background: #FFFFFF;
    transition: all 0.5s;
  }
  
  .menu-links li:hover:after {
    width: 80%;
  }

*/

/* DESKTOP-NAV */
nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-between;
    flex-direction: column;
    padding: 0 122px;
    background-color: #0E0F13;

    position: -webkit-sticky;
	position: sticky;
	top: 0;
    z-index: 1000000;
}


.nav__container { /* remove this and .nav__decoration and move content to nav to reverse.*/
    display: flex;
    height: 65px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.nav__decoration {
    content: "";
    display: block;
    height: 0.5px;
  width: 100%;
    background: linear-gradient(to right, transparent 0%, #504D4D 50%, transparent 100%);
}


.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.125rem;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration-color: aqua; /*tut sa white*/
}

a:not(.exclude):hover {
    color: #979191;
}

.logo{
    font-size: 1.5rem;
    color: #FFFFFF;
}

.logo:hover{
    color: #979191;
}

/* HAMBURGER-NAV */

#hamburger-nav {
    display: none;
    align-items: center;
    flex-direction: row;
    height: 65px;
}

.hamburger-menu {
    background-color: #0E0F13;
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    color: #FFFFFF;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.125;
    color: #FFFFFF;
    text-decoration: none;
    transition: all .3s ease-in-out
}

/*
.menu-links a:hover {
    color: #979191;
}
*/

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    padding-bottom: 10vh;
    box-sizing: border-box;
    min-height: fit-content;
}

.section_container {
}

/* HERO SECTION */

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
}

.section__text {
    align-self: center;
}

.section__text__h1 {
    font-size: 5rem;
    font-weight: 500;
}

.section__text__h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1.875rem;
    max-width: 314px;
}

.section__pic-container {
    display: flex;
    flex-direction: column;
    /*width: 166px; */
    width: 200px;
    height: 219px;
}

.hero__text_construction {
    margin-top: 20px;
}

.hero__text_construction_mobile {
    display: none;
}

/* HIGHLIGHTS SECTION */

#highlights {
}

.section__mockup__container__single {
    margin-bottom: 100px;
}

.highlights__pic_container {
    padding: 33px;
    background-color: #D5DBF9;
    background-image: linear-gradient(#D5DBF9, #F3F1F4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 27px;
    margin-bottom: 20px;
    overflow: hidden;

}

.project__recipeasy{
    background-color: #FCFCFC;
    background-image: linear-gradient(#FCFCFC, #F1E4E4);
}

.project__dbt{
    background-color: #FCFCFC;
    background-image: linear-gradient(#FCFCFC, #D4E5E9);
}

.highlights__pic_container a {
    background-color: transparent;
}

.pic__mockup {
    background-color: transparent;
    margin: 0 25px;
    max-width: 699px;
    max-height: 400px;
}

.pic__mockup:hover {
    transform: scale(1.05)
}

.mockup__text_old:hover, .mockup__text_new:hover {
    color:#ffffff;
}

.pic__mockup_arrow_small {
    width: 16px;
    height: 16px;
}

.highlights__text_link {
    margin-top: 30px;
    justify-content: center;
}

.highlights__text_link:hover {
    color: #979191;
}

.pic__mockup_arrow_large {
    width: 18x;
    height: 18px;
}

/* EXPERIENCE SECTION */

#experiences {
    display: none;
    /*display: flex;*/
    border: 1px solid red;
    justify-content: center;
}

.section_container {
    width: 100%;
}

.experiences__container__double {
    border: 1px solid yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experiences__container_left, .experiences__container_right {
    border: 1px solid green;
    width: 48%;
}

.experiences__pic__container {
    height: 371px;
    background-color: #302A2A;
    background-image: linear-gradient(#595959, #302A2A);
    border-radius: 27px;
    margin-bottom: 20px;
    overflow: hidden;
    
}

/* FOOTER */

footer {
    margin-top: 10vh;
    height: 16vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-inline: 122px;
}

.footer__section {
    display: flex;
    justify-content: space-between;
}

.footer__connect__container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer__text__h1 {
    font-size: 1.563rem;
}

.footer__pic__contact_icons {
    margin: 15px 0;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.footer__contact_icon {
    width: 25px;
    height: 25px;
}

.footer__nav-links__container {
    
}

footer .nav-links {
    display: block;
    text-align: right;
}

footer .nav-links li {
    margin-bottom:  15px;
}


/* ABOUT */

#about_me{
    min-height: 85dvh;
}

.about_me__container {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.about_me__container_left, .about_me__container_right {
    width: 50%;
}

.about_me__text {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 150%;
}

.about_me__container_right {
    display: flex;
    justify-content: center;
}

.about_me_profilePicture {
    width: 340px;
    height: 340px;
}

#manifesto {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.manifesto__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
}

.manifesto__column p {
    max-width: 240px;
    align-self: center;
    margin-top: 10px;
    line-height: 120%;
}

/* CONTACT */

#contact {
    min-height: 92dvh;
}

.contact__container {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.contact__container p {
    max-width: 320px;
    text-align: center;
    margin-top: 15px;
    line-height: 115%;
}




